<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <!--<add name="MyConStr"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=.\sqlexpress;Initial Catalog=Northwind;Integrated Security=True"/>-->
    <add name="MyConString"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=.;Initial Catalog=RepositoryAdoDb;Integrated Security=True;"/>

  </connectionStrings>
</configuration>